//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends dash

block Subject
	title 플러스끄투 어드민

block JS
	script(type="text/javascript", src="https://cdn.kkutu.cc/js/in_admin.min.js")
	
block Middle
	header
	.mx-auto.max-w-7xl.py-6.px-8
		h1.text-3xl.font-bold.tracking-tight.text-gray-900 단어 관리

	p 코드 정보
	
	fieldset.hidden
		legend 자격
		input#db-password(type='password', placeholder='암호')
		input#db-lang(placeholder='테이블')
	fieldset
		legend.text-xl.font-bold.py-4 추가 요청 받기
		div
			button#injeong-go(class='mt-3 px-3 bg-blue-500 font-bold text-white text-center py-2 rounded-xl transform ease-in duration-100 active:scale-95 hover:bg-blue-600') 신청받은 단어 조회하기
			div
				table
					thead: tr
						td 승인?
						td 나무위키
						td 단어
						td 주제
						td 작성자
						td 생성일시
					tbody#injeong-data
			div.flex
				button#injeong-everything.hidden
				button#injeong-nothing(class='mt-3 px-3 bg-red-500 font-bold text-white text-center py-2 rounded-xl transform ease-in duration-100 active:scale-95 hover:bg-red-600') 전체 거절하기
				button#injeong-apply(class='mt-3 px-3 bg-green-500 font-bold text-white text-center py-2 rounded-xl transform ease-in duration-100 active:scale-95 hover:bg-green-600') 적용하기
	fieldset.hidden
		legend 끄투 DB에 단어 추가하기
		div
			input#db-theme(placeholder='주제 (~부터 적으면 검색)')
			textarea#db-list(rows=20, cols=100)
			button#db-ok 확인
	fieldset.hidden
		legend 상점 DB 다루기
		div
			input#shop-word(placeholder='"~ALL" 입력 시 전 상품이 조회됩니다.')
			button#shop-go 조회
			button#shop-hide 숨기기
			div
				table
					thead: tr
						td #
						td cost
						td hit
						td term
						td group
						td updatedAt
						td options
						td name_ko_KR
						td desc_ko_KR
						td name_en_US
						td desc_en_US
					tbody#shop-data
			button#shop-add 추가
			button#shop-apply 적용
	fieldset
		legend.text-xl.font-bold.py-4 사용자 관리
		div
			input#user-id(placeholder='ID')
			input#user-nick(placeholder='닉네임')
			button#user-go(class='mt-3 px-3 bg-blue-500 font-bold text-white text-center py-2 rounded-xl transform ease-in duration-100 active:scale-95 hover:bg-blue-600') 사용자 조회하기
			div
				table
					thead: tr
						td 고유번호
						td 핑
						td 계정 스코어
						td 인벤토리
						td 장착 아이템
						td exordial
						td 활동 서버
						td 마지막 로그인
						td black
						td 계정 제재 기한
						td 친구
					tbody#user-data
			button#user-apply(class='mt-3 px-3 bg-green-500 font-bold text-white text-center py-2 rounded-xl transform ease-in duration-100 active:scale-95 hover:bg-green-600') 수정하기
	fieldset.hidden
		legend 유저 감시하기
		div
			input#gamsi-id(placeholder='ID (,로 구분)')
			button#gamsi-go 감시
			div
				table
					thead: tr
						td #
						td 닉네임
						td 서버
					tbody#gamsi-data
	fieldset.hidden
		legend.text-xl.font-bold.py-4 단어 DB 다루기
		div
			input#db-word(placeholder='단어')
			button#db-go 조회
			div#word-data
				div#wd-id
				input#wd-flag
				table
					thead: tr
						td #
						td type
						td theme
						td mean
						td 행동
					tbody#wd-data
			div#word-flag
			div#word-hit
			button#word-add 추가
			button#db-apply 적용
	fieldset.hidden
		legend 끄투에서의 인기 단어
		button#kpw-query 조회
		textarea#kpw-html
		div#kpw-table
		button#kpw-flush 반영
