@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* Extrabold */  

:root {
	--font-body: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-family: var(--font-body);
}

.font-bold{
  font-weight:700;
}
.font-semibold{
  font-weight:500;
}
.hero{
	background-size: cover;
	background-image: url('/img/web/2024Renewal/Frame 1.png');
	background-repeat: no-repeat;
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: imgFadeIn 1s forwards;
    transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
    opacity: 0;
    z-index: -999;
  }

  .gb{
    z-index: -999;
  }

  .moremi-hero{
    animation: fadeInRight 1s forwards;
    transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
  }

    .text-hero{
      animation: fadeIn 1s forwards;
      transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
    }
    .delayedFadeIn-200ms{
      animation: fadeIn 1s forwards;
      transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
      animation-delay: 0.2s;
      opacity: 0;
    }

    .delayedFadeIn-500ms{
      animation: fadeIn 1s forwards;
      transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
      animation-delay: 0.5s;
      opacity: 0;
    }

    .delayedFadeIn-600ms{
      animation: fadeIn 1s forwards;
      transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
      animation-delay: 0.6s;
      opacity: 0;
    }

    .glassFraction-1{
      animation: leftGlass 1s forwards;
      transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
      opacity: 0;
    }

    .glassFraction-2{
      animation: rightGlass 1s forwards;
      transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
      opacity: 0;
    }

    @keyframes leftGlass {
      from {
        opacity: 0;
        transform: translateX(-50px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    @keyframes rightGlass {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    .starfield {
      position: absolute;
      width: 50px;
      height: 4px;
      background: linear-gradient(45deg, #3b82f6, #7c3aed);
      animation: shootingStar 2s infinite;
    }
  
    .starfield:nth-child(2n) {
      animation-delay: 1s;
    }
    
    .starfield:nth-child(3n) {
      animation-delay: 1.5s;
    }
    
    .starfield:nth-child(4n) {
      animation-delay: 2s;
    }
    
    @keyframes shootingStar {
      0% {
        transform: translate(0, 0);
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      100% {
        transform: translate(100px, 100px);
        opacity: 0;
      }
    }

  .layer img {
    max-width: 100%;
    max-height: 100%;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
	    transform: translateY(50px);
    }
    to {
      opacity: 1;
	  transform: translateY(0px);
    }
  }

  @keyframes imgFadeIn {
    from {
      opacity: 0;
	  transform: translateX(-50px);
    }
    to {
      opacity: 0.5;
	  transform: translateX(0px);
    }
  }

  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateY(50px);
      filter: brightness(0);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
      filter: brightness(1) drop-shadow(0px -36px 36px #a955f762);
    }
  }

  /* 각 레이어에 시간차를 둠 */
  .bg-layer2 {
    animation-delay: 0s;
  }

  .bg-layer3 {
    animation-delay: 0.5s;
  }

  .bg-layer4 {
    animation-delay: 1s;
  }

.modal {
    @apply fixed inset-0 w-full h-full bg-gray-800 bg-opacity-75 flex items-center justify-center;
    display: none;
  }

  .visible {
    display: flex;
  }

  .modal-content {
    @apply bg-white p-8 rounded-xl;
  }

.boardBg-7{
	@apply bg-indigo-500;
}
.boardBg-8{
	@apply bg-blue-500;
}
.boardBg-14{
	@apply bg-yellow-500;
}
.boardBg-9{
	@apply bg-green-500;
}
.boardBg-6{
	@apply bg-purple-500;
}
.boardBg-1{
	@apply bg-gray-500;
}
.boardBg-10{
	@apply bg-gray-500;
}
.boardBg-11{
	@apply bg-gray-500;
}
.boardBg-12{
	@apply bg-gray-500;
}
.boardBg-13{
	@apply bg-gray-500;
}
.boardBg-22{
	@apply bg-red-500;
}

.balloon-tail {
  position: absolute;
  bottom: -10px; /* Adjust this value to control tail position */
  left: 50%;
  margin-left: -10px; /* Half of the tail width */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black; /* Tail color */
}

.conn-balloon{
  animation: fadeInTop 1s forwards;
  transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
}

.modal-front{
  animation: zoomIn 0.3s forwards;
  transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
}

.modal-back{
  animation: zoomOut 0.3s forwards;
  transition-timing-function: cubic-bezier(0.49, 0.09, 0.39, 1);
}

@keyframes zoomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}