@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* Extrabold */  

:root {
	--font-body: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-family: var(--font-body);
}

.font-bold{
  font-weight:700;
}
.font-semibold{
  font-weight:500;
}
.hero{
	background-size: cover;
	background-image: url(/img/top.png);
	background-repeat: no-repeat;
	height: 90vh;
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center;
}

.gs{
	background-size: cover;
	background-image: url(/img/start_bg.png);
	background-repeat: no-repeat;
}

.modal {
    @apply fixed inset-0 w-full h-full bg-gray-800 bg-opacity-75 flex items-center justify-center;
    display: none;
  }

  .visible {
    display: flex;
  }

  .modal-content {
    @apply bg-white p-8 rounded-xl;
  }

.boardBg-7{
	@apply bg-indigo-500;
}
.boardBg-8{
	@apply bg-blue-500;
}
.boardBg-14{
	@apply bg-yellow-500;
}
.boardBg-9{
	@apply bg-green-500;
}
.boardBg-6{
	@apply bg-purple-500;
}
.boardBg-1{
	@apply bg-gray-500;
}
.boardBg-10{
	@apply bg-gray-500;
}
.boardBg-11{
	@apply bg-gray-500;
}
.boardBg-12{
	@apply bg-gray-500;
}
.boardBg-13{
	@apply bg-gray-500;
}